body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
html {
    min-height: 100%;
}

.appBar {
    align-items: center;
  }

.Bio {
    text-align: justify;
    text-justify: inter-word;
}
.embedPaper {
    height: 80vh;
}
.embedViewer {
    border: none;
    height: 100%;
    width: 100%;
}

.LinkButton {
    margin: 8px;
}

.margins {
    margin: 2em;
}

.PaperMargins {
    margin: 2em;
    padding: 1em;
}

.quote {
    display: inline-block;
}

.timelineContent {
    display: inline-block;
    padding: 1em 2em;
}